*{
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
width: 100vw;
height: 100vh;
background-color: aqua;
display: flex;

justify-content: space-between;


}
.cubo{
    display: flex;
    
    width: 100px;
    height: 100px;
    background-color: brown;
    color: black;
    padding: 20px;
    line-height: 6opx;
    font-size: 60px;
}

